<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>SQL-Alchemy</title>
    </head>
    <body>

        <textarea class='oija' name="content" placeholder="please enter" id = "content" aria-label="content" rows="10" cosl="3">
        
        </textarea>
        
        <table>
         {% set a = [1,2,3,4,5,6,7,8,9,10] %}
{%- for row in range(12)|slice(5) %}
    {{row}}
    
    {% endfor %}
    {{ "Hello World"|sort }}

</table>
</body>
</html>

